.demo-panel {
  border: 1px solid #ccc;
}

.demo-view {
  position: relative;
  float: left;
}

.demo-code {
  float: right;
  border-left: 1px solid #ccc;
}

.demo-view, .demo-code {
  width: 50%;
  height: 100%;
}

.input-component {
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
  width: 200px;
}

.demo2 .input-component, .demo3 .input-component, .demo4 .input-component, .demo5 .input-component {
  margin-top: 130px;
}

.icon-arrow-left {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #00cba3;
  border-bottom: 2px solid #00cba3;
  transform: rotate(45deg);
}

.icon-arrow-left-o {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #00cba3;
  border-bottom: 2px solid #00cba3;
  transform: rotate(45deg);
}

.icon-arrow-left-o:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border-left: 2px solid #00cba3;
  border-bottom: 2px solid #00cba3;
}

.icon-arrow-right {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #00cba3;
  border-bottom: 2px solid #00cba3;
  transform: rotate(-45deg);
}

.icon-arrow-right-o {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #00cba3;
  border-bottom: 2px solid #00cba3;
  transform: rotate(-45deg);
}

.icon-arrow-right-o:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 6px;
  height: 6px;
  border-right: 2px solid #00cba3;
  border-bottom: 2px solid #00cba3;
}

.demo-code code[class*="language-"], .demo-code pre[class*="language-"] {
  background-color: #eee;
}