.tiny-datepicker__wrapper {
  position: absolute;
  width: 322px;
  color: #606266;
  border: 1px solid #e4e7ed;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  background: #fff;
  border-radius: 4px;
  line-height: 30px;
  margin: 5px 0;
  padding: 4px;
}

.tiny-datepicker__header {
  padding: 12px;
  text-align: center;
}

.tiny-datepicker__btn {
  font-size: 12px;
  color: #303133;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-top: 8px;
  cursor: pointer;
}

.tiny-datepicker__btn:hover {
  color: #409eff;
}

.tiny-datepicker__prev-btn {
  float: left;
}

.tiny-datepicker__next-btn {
  float: right;
}

.tiny-datepicker__header-label {
  font-size: 16px;
  font-weight: 500;
  padding: 0 5px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: #606266;
}

.tiny-datepicker__header-label:hover {
  color: #409eff;
}

.tiny-datepicker__body {
  position: relative;
  margin: 15px;
}

.tiny-datepicker__table {
  table-layout: fixed;
  width: 100%;
  font-size: 12px;
  user-select: none;
  text-align: center;
}

.tiny-datepicker__month-table {
    font-size: 12px;
    margin: -1px;
    border-collapse: collapse;
}

.tiny-datepicker__table th {
  padding: 5px;
  color: #606266;
  font-weight: 400;
  border-bottom: 1px solid #ebeef5;
}

.tiny-datepicker__table td {
  height: 30px;
  padding: 3px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.tiny-datepicker__table td.available:hover {
  color: #409eff;
}
.tiny-datepicker__table span:hover {
  color: #409eff;
}

.tiny-datepicker__table td.prev-month {
  color: #c0c4cc;
}

.tiny-datepicker__table td.next-month {
  color: #c0c4cc;
}