// colors
$primary-color: #00cba3;
$text-color: #666;
$text-gray-color: #9fa1a5;
$border-color: #e0e0e0;
$bg-color: #fff;
$bg-gray-color: #eee;
$arrow-color: $primary-color;
$arrow-hover-color: $primary-color;

// sizes
$font-size: 12px;
$font-title-size: 16px;
$line-height: 30px;
$border-radius: 4px;
$td-height: 30px;
$td-span-size: 24px;
$datepicker-width: 300px;

$x-arrow-size: 6px;
$x-arrow-border: $x-arrow-size + 1;

$x-arrow-y: $x-arrow-size * 2;
$x-arrow-x: $x-arrow-border * 5;

$x-arrow-border-y: $x-arrow-border * 2;
$x-arrow-border-x: $x-arrow-border * 5 - 1;

// styles
.tiny-datepicker {
  &__wrapper {
    position: absolute;
    color: $text-color;
    width: $datepicker-width;
    line-height: $line-height;
    border: 1px solid $border-color;
    background-color: $bg-color;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: $border-radius;
    &:before, &:after {
      content: "";
      position: absolute;
      display: block;
      width: 0px;
      height: 0px;
    }
    &:before {
      border: $x-arrow-border solid transparent;
    }
    &:after {
      border: $x-arrow-size solid transparent;
    }
  }

  &__bottom-left {
    &:before {
      top: -$x-arrow-border-y;
      left: $x-arrow-border-x;
      border-bottom: $x-arrow-border solid $border-color;
    }
    &:after {
      top: -$x-arrow-y;
      left: $x-arrow-x;
      border-bottom: $x-arrow-size solid $bg-gray-color;
    }
  }

  &__bottom-right {
    &:before {
      top: -$x-arrow-border-y;
      right: $x-arrow-border-x;
      border-bottom: $x-arrow-border solid $border-color;
    }
    &:after {
      top: -$x-arrow-y;
      right: $x-arrow-x;
      border-bottom: $x-arrow-size solid $bg-gray-color;
    }
  }

  &__top-left {
    &:before {
      bottom: -$x-arrow-border-y;
      left: $x-arrow-border-x;
      border-top: $x-arrow-border solid $border-color;
    }
    &:after {
      bottom: -$x-arrow-y;
      left: $x-arrow-x;
      border-top: $x-arrow-size solid $bg-color;
    }
    &.tiny-datepicker__clearable:after {
      border-top-color: $bg-gray-color;
    }
  }

  &__top-right {
    &:before {
      bottom: -$x-arrow-border-y;
      right: $x-arrow-border-x;
      border-top: $x-arrow-border solid $border-color;
    }
    &:after {
      bottom: -$x-arrow-y;
      right: $x-arrow-x;
      border-top: $x-arrow-size solid $bg-color;
    }
    &.tiny-datepicker__clearable:after {
      border-top-color: $bg-gray-color;
    }
  }


  &__header {
    padding: 10px;
    text-align: center;
    background-color: $bg-gray-color;
  }

  &__btn {
    font-size: $font-size;
    color: $arrow-color;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
    margin-top: 6px;
    &:hover {
      color: $arrow-hover-color;
    }
  }

  &__prev-btn {
    float: left;
  }

  &__next-btn {
    float: right;
  }

  &__header-label {
    font-size: $font-title-size;
    font-weight: 500;
    padding: 0 5px;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }

  &__body {
    position: relative;
  }

  &__table {
    table-layout: fixed;
    width: 100%;
    font-size: $font-size;
    user-select: none;
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid $border-color;
    th {
      padding: 5px;
      border-bottom: 1px solid $border-color;
    }
    td {
      height: $td-height;
      line-height: $line-height;
      padding: 2px 0;
      cursor: pointer;
      box-sizing: border-box;
      &.available:not(.disabled):hover {
        color: $primary-color;
      }
      &.today span {
        color: $primary-color;
        font-weight: 700;
      }
      &.prev-month {
        color: $text-gray-color;
      }
      &.next-month {
        color: $text-gray-color;
      }
      &.disabled {
        color: $text-gray-color;
        cursor: default;
      }
    }
  }

  &__date-table {
    td {
      span {
        width: $td-span-size;
        height: $td-span-size;
        line-height: $td-span-size;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
      }
      &.selected span {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
  
  &__month-table, &__year-table {
    td {
      padding: 15px 0;
      &.selected span {
        color: $primary-color;
      }
    }
  }

  &__footer {
    position: relative;
    padding: 6px 10px;
    text-align: right;
    font-size: 0;
    line-height: 1.0;
    border-top: 1px solid $border-color;
    background-color: $bg-gray-color;
    &-btn {
      display: inline-block;
      border: 0;
      outline: 0;
      margin: 0;
      background: transparent;
      font-size: $font-size;
      transition: ease-in-out .1s;
      cursor: pointer;
    }
  }

  &__now-btn {
    color: $primary-color;
    padding: 5px 15px;
  }

  &__clear-btn {
    color: $text-color;
    border: 1px solid $border-color;
    padding: 5px 15px;
    border-radius: $border-radius;
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}